<div class="sidebar sidebar-main">
  <div class="block block-collapsible-nav">
    <div class="title block-collapsible-nav-title">
      <strong> My Account </strong>
    </div>
    <div
      class="content block-collapsible-nav-content"
      id="block-collapsible-nav"
    >
      <ul class="nav items">
        <li class="nav item current"><strong>My Account</strong></li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/sales/order/history/"
            >My Orders</a
          >
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/downloadable/customer/products/"
            >My Downloadable Products</a
          >
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/wishlist/">My Wish List</a>
        </li>
        <li class="nav item">
          <span class="delimiter"></span>
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/customer/address/"
            >Address Book</a
          >
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/customer/account/edit/"
            >Account Information</a
          >
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/vault/cards/listaction/"
            >Stored Payment Methods</a
          >
        </li>
        <li class="nav item">
          <span class="delimiter"></span>
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/review/customer/"
            >My Product Reviews</a
          >
        </li>
        <li class="nav item">
          <a href="https://magentoapi.merket.io/newsletter/manage/"
            >Newsletter Subscriptions</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
