<div class="page-title">
  <h1>My Dashboard</h1>
</div>
<div class="account-dashboard-main flex">
<app-sidebar></app-sidebar>
<div class="page-main">
  <div class="block block-recent-orders">
    <div class="title flex gap-x">
      <h2>Recent Orders</h2>
      <a class="view-all link" href="/customer/order/history">
        view all
      </a>
    </div>
    <div class="content">
      <table>
        <thead>
          <tr>
            <th>Order #</th>
            <th>Date</th>
            <th>Ship to</th>
            <th>Order Total</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of order.customer.orders.items">
            <td>{{e.number}}</td>
            <td>{{e.order_date}}</td>
            <td>{{e.shipping_address.firstname}} {{e.shipping_address.middlename}} {{e.shipping_address.lastname}}</td>
            <td>{{e.total.grand_total.value}}{{order.currency.base_currency_symbol}}</td>
            <td>{{e.status}}</td>
            <td><a href="customer/order/view/order_id/{{e.id.order_id}}">View order</a></td>
            <td><a href="customer/reorder/order_id/{{e.id.cart_id}}">Reorder</a></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

  <div class="block block-account-info">
    <div class="title flex gap-x">
      <h2>Account Information</h2>
    </div>
    <div class="content lg:flex">
      <div class="contact-info">
        <h3>Contact Information</h3>
        <div class="details">
          <p>{{order.customer.email}}</p>
          <p>{{order.customer.firstname}}</p>
          <p>{{order.customer.middlename}}</p>
          <p>{{order.customer.lastname}}</p>
        </div>
      </div>
      <div class="newsletter-info">
        <h3>Newsletter</h3>
        <div class="details">
          <p *ngIf="!order.customer.is_subscribed">you don't subcribe to our newsletter</p>
          <a href="/edit">edit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-address-info">
    <div class="title flex gap-x">
      <h2>Address Book</h2>
    </div>
    <div class="content lg:flex">
      <div class="contact-info">
        <h3>Default Billing Address</h3>
        <div *ngIf="address.default_billing" class="details">
          <p>{{address.default_billing.firstname}} {{address.default_billing.middlename}} {{address.default_billing.lastname}} </p>
          <p>{{address.default_billing?.street[0]}} {{address.default_billing?.street[1]}} {{address.default_billing?.street[2]}}</p>
          <p>{{address.default_billing?.city}},{{address.default_billing?.region?.region}},{{address.default_billing?.postcode}}</p>
          <p>{{address.default_billing?.country_name}}</p>
          <p>T: {{address.default_billing?.telephone}}</p>
          <a class="link" href="customer/address/edit">edit address</a>
        </div>
      </div>
      <div class="newsletter-info">
        <h3>Default Shipping Address</h3>
        <div  *ngIf="address.default_shipping" class="details">
          <p>{{address.default_shipping.firstname}} {{address.default_shipping.middlename}} {{address.default_shipping.lastname}} </p>
          <p>{{address.default_shipping?.street[0]}} {{address.default_shipping?.street[1]}} {{address.default_shipping?.street[2]}}</p>
          <p>{{address.default_shipping?.city}},{{address.default_shipping?.region?.region}},{{address.default_shipping?.postcode}}</p>
          <p>{{address.default_shipping?.country_name}}</p>
          <p>T: {{address.default_shipping?.telephone}}</p>
          <a class="link" href="customer/address/edit">edit address</a>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
