<div class="max-w-1400 ml-auto mr-auto lg:px-10 lg:mx-10 lg:mt-10">
  <h1 class="uppercase lg:mb-10 mt-0">Login or create account</h1>
  <div class="lg:flex lg:gap-x-12">
    <form class="log-in-form w-1/2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="uppercase w-100 mb-5 pb-5 border-b border-[#eee] border-0 border-solid">Registered Customers</h2>
      <div class="row-control lg:max-w-[420px]">
        <mat-label>Email</mat-label>
        <mat-form-field class="w-100" appearance="outline">

          <input autocomplete formControlName="email" matInput class="w-100"/>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">This is a required field.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address (Ex: johndoe@domain.com).</mat-error>
        </mat-form-field>
      </div>
      <div class="row-control lg:max-w-[420px]">
        <mat-label>Password</mat-label>
        <mat-form-field appearance="outline" class="w-100">

          <input class="w-100" autocomplete formControlName="password" [attr.type]="loginForm.get('showPassword')?.value ? '' : 'password'" matInput  />
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">This is a required field.</mat-error>
        </mat-form-field>
      </div>
      <div class="row-control row-actions flex justify-between items-center lg:max-w-[420px]">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <a href="customer/forgot">Forgot your password</a>
      </div>

    </form>
    <div class="w-1/2">
      <h2 class="uppercase mb-5 pb-5 border-b border-[#eee] border-0 border-solid">Create account </h2>
      <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
      <button mat-raised-button color="primary" routerLink="/customer/register">
        <input [style.display]="'none'" type="submit">
Create An Account</button>
    </div>
  </div>
</div>
