<div class="max-w-7xl w-full flex flex-wrap p-4 m-auto">
    <div class="w-full md:w-1/2 pr-5">
        <div class="text-oswald text-sm text-grey-700 font-medium mb-6">Fonts</div>
        <div class="text-oswald text-4.5xl text-grey-800 font-medium mb-2.5">Oswald Medium 42px</div>
        <div class="text-oswald text-1.5xl text-black font-medium mb-2.5">Oswald medium 22px</div>
        <div class="text-oswald text-ssm text-black font-normal mb-2.5">Oswald Regular 15px</div>
        <div class="text-sans text-sm text-black font-semibold leading-4.5 mb-5">Heading Montserrat SemiBold 14px</div>
        <div class="text-sans text-sm text-grey-700 font-normal leading-5.5 mb-2.5">Montserrat Regular - 14/22px</div>
        <div class="text-sans text-sm text-grey-700 font-normal leading-5.5 mb-3">Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum.</div>
        <div class="flex gap-2 mb-12">
            <a href="#" class="text-sans text-sm text-black font-normal leading-5.5">Text link standard</a>
            <a href="#" class="text-sans text-sm text-black font-normal leading-5.5">Text link hover</a>
        </div>
        <div class="text-oswald text-sm text-grey-700 font-medium mb-6">Alert</div>
    </div>
    <div class="w-full md:w-1/2 pl-5">
        <div class="text-oswald text-sm text-grey-700 font-medium mb-6">Buttons</div>
        <div class="flex flex-wrap gap-6 mb-4">
            <button class="button button-primary min-w-[200px]">Button</button>
            <a href="#" class="button button-primary min-w-[200px]">Button</a>
        </div>
        <div class="flex flex-wrap gap-6 mb-4">
            <button class="button button-secondary min-w-[200px]">Button</button>
            <a href="#" class="button button-secondary min-w-[200px]">Button</a>
        </div>
        <div class="flex flex-wrap gap-6 mb-4">
            <button class="button button-light min-w-[200px]">Button</button>
            <a href="#" class="button button-light min-w-[200px]">Button</a>
        </div>
        <div class="text-oswald text-sm text-grey-700 font-medium mb-6">Forms</div>

    </div>
</div>