<!-- Product.component.html -->
<div class="breadcrumb max-w-1240 m-auto text-xxs mt-5">
    <a class="no-underline text-xxs" [routerLink]="['/']">Home</a> / <span class="text-xxs">{{ product.name }}</span>
</div>
<div class="column main max-w-1240 m-auto">
    <div class="flex flex-wrap mt-5 bg-white pb-6">
        <div class="product media w-1/2">
            <div class="carousel-animation-wrapper flex p-0">
                <div class="carousel-wrapper order-2">
                    <igx-carousel [navigation]="false" [pause]="false" animationType="fade" [interval]="2000">
                        <igx-slide *ngFor="let image of product.media_gallery">
                            <img class="w-[508px]" [src]="image.url" alt="Product Image">
                        </igx-slide>
                        <ng-template igxCarouselIndicator></ng-template>
                    </igx-carousel>
                </div>
                <div class="list-wrapper order-1 max-w-28">
                    <igx-list>
                        <igx-list-item *ngFor="let image of product.media_gallery; let i=index" [ngClass]="{'disabled': i !== currentIndex }" >
                            <img class="max-w-[64px] max-h-16 small-image" [src]="image.url" alt="Product Image">
                        </igx-list-item>
                    </igx-list>
                </div>
            </div>
        </div>
    
        <div class="product-info-main w-1/2 px-10">
            <div class="flex items-center">
                <!-- Star Rating -->
                <div [attr.data-rating]="product.reviews.items[0].average_rating" *ngIf="product.reviews.items[0].average_rating != undefined"
                class="flex star-rating mr-2">
                <div class="star text-base text-gray-300 mr-1">&#9733;</div>
                <div class="star text-base text-gray-300 mr-1">&#9733;</div>
                <div class="star text-base text-gray-300 mr-1">&#9733;</div>
                <div class="star text-base text-gray-300 mr-1">&#9733;</div>
                <div class="star text-base text-gray-300 mr-1">&#9733;</div>
            </div>
    
            <!-- Review count -->
            <a href="#" *ngIf="product.review_count && product.review_count > 0">
                {{ product.review_count }} Reviews
                </a>
            </div>
            
            <!-- Product Title -->
            <span class="text-2xl text-black tracking-xsSpacing font-medium block mt-1 mb-10 uppercase">{{ product.name }}</span>
    
            <!-- Product Price -->
            <span class="text-black font-semibold text-2xl">{{ currency }}{{ product.price.regularPrice.amount.value }}</span>
    
            <hr class="border-t border-1 border-solid border-grey-300 my-5">
    
            <div class="product-attribute flex">
                <div *ngFor="let value of attribute['label']" class="w-1/2">
                    <div class="product-attribute mr-[18px]">
                        <label class="text-sm leading-4.5 text-black block font-semibold mb-1" for="{{ value.label }}">{{ value.label }}</label>
                        <select class="rounded-[3px] text-sm leading-4.5 px-[18px] text-gray-700 border-grey-500 h-12 border-1 border-solid w-full bg-white" id="{{ value.label }}" name="{{ value.label }}">
                          <option *ngFor="let option of value.options" [value]="option.value">{{ option.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <app-cart></app-cart>
            <div class="block-product-top" innerHTML="{{ block_top }}"></div>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab *ngIf="product.description.html" label="Descriptions">
            <div [innerHTML]="product.description.html"></div>
        </mat-tab>
        <mat-tab *ngIf="product.specifications" label="Specifications">
            <div [innerHTML]="product.specifications"></div>
        </mat-tab>
        <mat-tab *ngIf="product.delivery_returns" label="Delivery & returns">
            <div [innerHTML]="product.delivery_returns"></div>
        </mat-tab>
        <mat-tab *ngIf="product.review_count" label="Reviews ({{ product.review_count }})">Reviews {{ product.review_count }}</mat-tab>
    </mat-tab-group>
</div>
