.star-rating[data-rating="20"] .star:nth-child(-n+1) {
    @apply text-yellow-500;
}

.star-rating[data-rating="40"] .star:nth-child(-n+2) {
    @apply text-yellow-500;
}

.star-rating[data-rating="60"] .star:nth-child(-n+3) {
    @apply text-yellow-500;
}

.star-rating[data-rating="80"] .star:nth-child(-n+4) {
    @apply text-yellow-500;
}

.star-rating[data-rating="100"] .star {
    @apply text-yellow-500;
}

.carousel-container {
    width: 70%;
    margin: auto;
    .igx-carousel-indicators--bottom {
        @apply hidden;
    }
}

.igx-carousel__inner {
    @apply min-w-[508px] min-h-[508px];;
}

.decrease::before {
    @apply w-5 h-5 absolute top-[14px] left-3;
    content: url('../../../../../assets/layout/images/minus-2_icon.svg');
}

.increase::before {
    @apply w-5 h-5 absolute top-[18px] right-3;
    content: url('../../../../../assets/layout/images/plus_icon.svg');
}

.image-container {
    img {
        @apply w-[508px] text-right;
    }
}

app-product {
    @apply bg-grey-bg;
}

.block-product-top {
    @apply bg-grey-bg mt-4 rounded-[5px];
    .pagebuilder-column-group {
        @apply inline-block w-1/2 p-6;
    }

    .pagebuilder-column-line {
        .pagebuilder-column {
            @apply flex items-center;
            &:first-child {
                @apply pb-4;
            }
            figure {
                @apply mr-2.5;
            }

            img {
                @apply w-6;
            }

            p {
                @apply m-0 text-tiny text-grey-400 font-semibold;
            }
        }
    }
}

.mat-mdc-tab-body-wrapper {
    h3, h4 {
        @apply text-ssm leading-6 font-semibold;
    }
}