<!-- Product.component.html -->
<div class="breadcrumb max-w-1240 m-auto text-xxs mt-5">
    <a class="no-underline text-xxs" [routerLink]="['/']">Home</a> / <span class="text-xxs">{{ product.name }}</span>
</div>

<div class="column main flex flex-wrap max-w-1240 m-auto mt-5">
    <div class="product media w-1/2">
        <div class="carousel-container">
            <igx-carousel class="test" #carousel>
                <igx-slide *ngFor="let image of product.media_gallery">
                    <div class="image-container">
                        <img class="w-[508px]" [src]="image.url" alt="Product Image">
                    </div>
                </igx-slide>
            </igx-carousel>
        </div>
    </div>

    <div class="product-info-main w-1/2">
        <div class="flex items-center">
            <!-- Star Rating -->
            <div [attr.data-rating]="product.reviews.items[0].average_rating" *ngIf="product.reviews.items[0].average_rating != undefined"
            class="flex star-rating mr-2">
            <div class="star text-3xl text-gray-300 mr-1">&#9733;</div>
            <div class="star text-3xl text-gray-300 mr-1">&#9733;</div>
            <div class="star text-3xl text-gray-300 mr-1">&#9733;</div>
            <div class="star text-3xl text-gray-300 mr-1">&#9733;</div>
            <div class="star text-3xl text-gray-300 mr-1">&#9733;</div>
        </div>

        <!-- Review count -->
        <a href="#" *ngIf="product.review_count && product.review_count > 0">
            {{ product.review_count }} Reviews
            </a>
        </div>
        
        <!-- Product Title -->
        <span class="text-2xl text-black tracking-xsSpacing font-medium block mt-1 mb-10">{{ product.name }}</span>

        <!-- Product Price -->
        <span class="text-black font-semibold text-2xl">{{ currency }}{{ product.price.regularPrice.amount.value }}</span>
    </div>
</div>
    