<div class="container max-w-1400 ml-auto mr-auto lg:px-10 lg:mx-10 lg:mt-10">
  <form class="sign-up-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2>Sign in</h2>
    <div class="row-control lg:max-w-[425px]">
      <mat-label>First Name</mat-label>
      <mat-form-field appearance="outline">

        <input autocomplete matInput formControlName="firstname" />
        <mat-error *ngIf="signupForm.get('password')?.errors?.['required']">This is a required field.</mat-error>
      </mat-form-field>
    </div>
    <div class="row-control lg:max-w-[425px]">
      <mat-label>Last Name</mat-label>
      <mat-form-field appearance="outline">

        <input autocomplete matInput formControlName="lastname" />
        <mat-error *ngIf="signupForm.get('password')?.errors?.['required']">This is a required field.</mat-error>
      </mat-form-field>
    </div>
    <div class="row-control lg:max-w-[425px]">
      <mat-label>Email</mat-label>
      <mat-form-field appearance="outline">

        <input autocomplete matInput formControlName="email" />
        <mat-error *ngIf="signupForm.get('email')?.errors?.['required']">This is a required field.</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email address (Ex: johndoe@domain.com).</mat-error>
      </mat-form-field>
    </div>
    <div class="row-control lg:max-w-[425px]">
      <mat-label>Password</mat-label>
      <mat-form-field appearance="outline">

        <input autocomplete type="password" matInput formControlName="password" />
        <mat-error *ngIf="signupForm.get('password')?.errors?.['required']">This is a required field.</mat-error>
      </mat-form-field>
    </div>
    <div class="row-control lg:max-w-[425px]">
      <mat-label>Confirm Password</mat-label>
      <mat-form-field appearance="outline">

        <input autocomplete type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">This is a required field.</mat-error>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.errors?.['valueNotMatch']">Please enter the same value again.</mat-error>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-checkbox formControlName="is_subscribed">Sign Up for Newsletter</mat-checkbox>
    </div>
    <div class="row-control row-actions">
      <input [style.display]="'none'" type="submit">

      <button mat-raised-button color="primary" type="submit">Sign up</button>
    </div>
  </form>
</div>

