// Header top
.header-top {
    @apply max-w-1240 m-auto hidden md:block;
    .pagebuilder-column-line {
      @apply flex justify-between;
      .pagebuilder-column {
        @apply flex items-center my-3;
        figure {
          @apply m-0 mr-2.5;
          p {
            @apply m-0;
          }
        }
   
        p {
          @apply text-grey-400 text-tiny m-0;
        }
      }
   
      .pagebuilder-mobile-hidden {
        @apply md:block hidden;
      }
      
      .pagebuilder-mobile-only {
        @apply block md:hidden;
      }

      img {
        @apply w-[26px];
      }
    }
  }
   
  // Header content
  .header-content-area {
    @apply bg-grey-900;
    .header-content {
      @apply flex max-w-1240 m-auto items-center py-4;
      app-search {
        @apply hidden md:block;
      }
      .header-item {
        @apply w-full md:w-2/6 text-center md:text-left;
        img {
          @apply h-9 md:h-[58px];
        }
      }
   
      .header-search {
        @apply text-center flex justify-center;
        input {
          @apply h-12 text-grey-200 w-[267px] px-4 py-0 border-0 hidden md:block;
        }
   
        button {
          @apply h-12 relative w-[54px] bg-button-background border-0	;
          &::before {
            content: url('../../../../../assets/layout/images/search_icon.svg');
            position: absolute;
            width: 20px;
            height: 20px;
            left: 18px;
            top: 14px;
          }
  
          &:focus {
            @apply outline-0;
          }
        }
      }
   
      .header-contact {
        @apply text-right hidden md:block;
        .pagebuilder-column-line {
          @apply flex items-center justify-end;
          .contact-phone {
            @apply flex items-center;
            .pagebuilder-mobile-only {
              @apply md:hidden block;
            }

            figure {
              @apply mx-4 mt-2.5;
            }
   
            img {
              @apply h-[26px];
            }
          }
   
          p,
          a {
            @apply text-white no-underline text-ssm font-semibold;
          }
        }

        .contact-mobile {
          @apply hidden;
        }
      }
    }
   
    .header-bottom {
      @apply max-w-1240 m-auto hidden md:flex justify-between;
      .navigation {
        @apply p-0;
        a {
          @apply inline-block px-3 text-white py-3 text-sm font-semibold tracking-xsSpacing  uppercase first:pl-0 no-underline;
        }
      }
      
      .my-acount a {
        @apply inline-block px-3 text-white py-3 text-sm font-semibold tracking-xsSpacing uppercase no-underline;
      }
   
      .cart {
        @apply relative;
        &::before {
          @apply content-[url('../../../../../assets/layout/images/cart_icon.svg')] absolute w-6 h-6 left-[-20px] top-2.5;
        }
      }
   
      .account {
        @apply relative mr-[45px];
        &::before {
          @apply content-[url('../../../../../assets/layout/images/account_icon.svg')] absolute w-6 h-6 left-[-20px] top-2.5;
        }
      }
    }
  }