<div class="header-top">
  <div class="header-top-content" innerHTML="{{ conTentTopHeader }}"></div>
</div>
<div class="header-content-area">
  <div class="header-content">
    <div class="toggle"></div>
    <div class="phone-icon"></div>
    <a class="header-item" [href]="baseUrl">
      <img [src]="baseUrl + 'media/logo/' + logoSrc"/>
    </a>
    <app-search class="header-item"></app-search>
    <div class="search-icon"></div>
    <div class="header-item header-contact" innerHTML="{{ conTentContact }}"></div>
  </div>
  <div class="header-bottom">
    <div class="navigation">
      <a *ngFor="let categoryName of getCategoryNames()">
        {{ categoryName }}
      </a>
    </div>
    <div class="my-acount md:flex">
        <a class="account" href="#">Account</a>
        <app-mini-cart></app-mini-cart>
    </div>
  </div>
</div>