<ul class="nav nav-pills card-header-pills max-w-1/2">
  <div *ngIf="!loading">
    <div *ngIf="!isLogged">
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer/login">Login</a>
      </li>
    </div>
    <div *ngIf="isLogged">
      <h3>Hello: {{customer.firstname}} {{customer.lastname}}</h3>
      <div>
        <a href="" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</ul>
